@import url('https://fonts.cdnfonts.com/css/poppins');
                
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(223, 222, 222);
}

/* VARIABLE */
:root {
    --major-bg-color : #232f3e;
    --second-bg-color: #131921;
}

/* HEADER BAR*/
.header {
    background-color: var(--major-bg-color);
    min-height: 100px;
    min-width: 100%;
}

.nav-bar1 {
    background-color: var(--second-bg-color); 
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
}

.cart {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    color: white;
    
}

.cart span {
    font-weight: 700;
    margin: -10%;
    margin-bottom: 20px;
    
}

.logo {
    flex-shrink: 0;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.search-bar {
    width: 50%;
    display: flex-row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.search-input {
 
    
    
}

.search-button {
    
}
